body {
    font-family: 'Open Sans', "Helvetica Neue" ,Helvetica,  sans-serif;
}

.hcol1 {
    background: #fea235;
}

.hcol2 {
    background: #FFD24E;
}

.hcol3 {
    background: #33AC93;
}

.hcol4 {
    background: #309770;
}

/*
.hcol1, .hcol2, .hcol3, .hcol4 {
    width: 25;%
    height: 2.5em;
    float: left;
    margin: 0;
}

*/

.hcol1, .hcol2, .hcol3, .hcol4  {
    float: left;
    margin: 0;
    height: 2.5em;
}


.hcol1 {
    width: 10.5572%;
}

.hcol2 {
    width: 17.102664%;
}

.hcol3 {
    width: 27.70631568%;
}

.hcol4 {
    width: 44.63382032%;
}


#imageheader {
    background: #ddd;
}

#mainfoot {
    margin: 2em 0 0 0;
    padding: 2em 0;
    height: 5em;
    color: #EEE;
    background: #202020 url(../img/background.png); 
}


/* on small screens */
@media (max-width: 767px) {
  #imageheader {
      background: transparent;
  }

  #mainfoot {
      background: transparent;
      color: #333333;
  }
}