---
layout: default
title: "William's CV"
permalink: cv/
---

{%include header.html %}

<div role="main" id="maincont">
  <div class="fifty-nomob">
    <div class="wrapper">
      <h2>Get it</h2>
      <p>If you want to view my CV click one of the links below. If
      you want to view it in your browser you probably want the web
      version.</p>
      <p><a href="/cv.pdf">Download as a PDF file.</a></p>
      <p><a href="//careers.stackoverflow.com/whn">View as a webpage
          (StackOverflow Careers 2.0 Profile)</a></p>
    </div>
  </div>
  
  <div class="fifty-nomob">
    <div class="wrapper">
      <h2>Questions?</h2>
      <p>If you have you have any questions feel free to get in touch
      with me. You can either tweet
      to <a href="//twitter.com/w_hgm">@w_hgm</a> or send an email to
      <a href="mailto:me@whn.se">me@whn.se</a>.
      </p>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

{% include footer.html %}
{% include base-scripts.html %}

