---
layout: default
itemtype: http://schema.org/Person
---
<header id="mainhead">
  <div class="wrapper">
    <hgroup>
      <h1 itemprop="name">William Högman</h1>
    </hgroup>
  </div>
  <div class="hcol1">
  </div>
  <div class="hcol2">
  </div>
  <div class="hcol3">
  </div>
  <div class="hcol4">
  </div>
</header>

<div role="main" id="maincont">
  <div class="box">
    <div class="wrapper">
    {% include aboutme.html %}
    </div>
  </div>

  <div class="box">
    <div class="wrapper">
      <h2>Github repos</h2>
      <div id="gh-repos">
        <span>Loading...</span>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="wrapper">
      <h2>Get in touch</h2>
      <p>You can reach me via email, 
        <a href="mailto:me@whn.se"
           itemprop="email">me@whn.se</a>
        or you can</p>
      <p>
        <a href="https://twitter.com/w_hgm"
           class="twitter-follow-button"
           data-show-count="false"
           data-show-screen-name="false"
           data-size="small">Follow me on twitter</a>
        or
        <iframe src="http://ghbtns.com/github-btn.html?user=williamhogman&type=follow"
                allowtransparency="true" frameborder="0" scrolling="0" width="256px"
                height="20px"></iframe>
      </p>

      <section class="coderwall" data-coderwall-username="williamhogman" data-coderwall-orientation="horizontal"></section>

    </div>
  </div>

  <div class="box">
    <div class="wrapper">
      <h2>Posts</h2>
      <div id="posts">
        Loading...
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

</div>

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  var _gaq=[['_setAccount','UA-33872327-1'],['_trackPageview']];
</script>
<script src="/js/script.js"></script>
</body>

