---
layout: default
itemtype: http://schema.org/Person
---

<header id="mainhead" class="container">
  <div class="row">
    <hgroup class="span12">
      <h1 itemprop="name">William Rudenmalm Högman</h1>
    </hgroup>
  </div>
</header>

<div class="hcol1"></div>
<div class="hcol2"></div>
<div class="hcol3"></div>
<div class="hcol4"></div>

<div class="clearfix"></div>

<div id="imageheader">
  <div class="container">
    <div class="row">
      <div class="span4">
        {% include aboutme.html %}
        {% include contact.html %}
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <hgroup class="span12">
      <h3>I'm working on</h3>
      <h2>NodeRunner</h2>
    </hgroup>
  </div>

  <div class="row">
    <div class="span6">
      {% include project/noderunner.html %}
    </div>

    <div class="offset2 span4">
      <img src="/img/noderunner.png" />
    </div>

  </div>

  <div class="row">
    <h3>Other projects</h3>
  </div>

  <div class="row">
    <div class="span4">
      {% include project/quickerauth.html %}
    </div>

    <div class="span4">
      {% include project/operant.html %}
    </div>


    <div class="span4">
      <h3>Writing</h3>
      <div id="posts">
        Loading...
      </div>      
    </div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="span6 hidden-phone">
      <h2>Tweets</h2>
      <a class="twitter-timeline" href="https://twitter.com/w_hgm"
         data-chrome="transparent noheader noborders"
         data-widget-id="321355968355106816">Tweets by @w_hgm</a>
    </div>

    <div class="span6">
      <h2>Github repos</h2>
      <div id="gh-repos">
        Loading...
      </div>
    </div>

  </div>
</div>

{% include footer.html %}
{% include base-scripts.html %}
<script src="/js/script.js"></script>
