<h3>QuickerAuth</h3>

<p class="lead">Replacing passwords with QR-codes</p>

<p>Instead of having to type potentially long password, on a tiny
  smartphone keyboard, with QuickerAuth the user simply points his or
  her smartphone camera at the a QR-code displayed on the screen. The
  code, once scanned, is used to login the user to the service.</p>
<p>QuickerAuth is written in Python and provides a framework for a
  server-side implementation of the QuickerAuth system.</p>

<p><a href="http://github.com/williamhogman/quickerauth/">Read more</a></p>
