<h2>About me</h2>

<p itemprop="description">
I&apos;m an <span itemprop="jobTitle">entrepreneur</span> and working
primarily in the consumer web space. I enjoy building consumer facing
web experiences. I&apos;m currently working on two commercial
projects, <a itemprop="owns" href="http://awezone.net/">Awezone</a>, a
content aggregation site and another start-up in the payments space,
that is currently in stealth-mode. I&apos;m available for both
freelance and temporary work. <a href="/cv">View my resume and CV</a>
My other interests include psychology, statistics and machine
learning.
</p>
