<ul class="icons-ul">

  <li>
    <i class="icon-twitter"></i><a href="https://twitter.com/w_hgm"
    rel="me">@w_hgm</a>
  </li>

  <li>
    <i class="icon-envelope"></i><a itemprop="email" href="mailto:me@whn.se">me@whn.se</a>
  </li>

  <li>
    <i class="icon-phone"></i><a itemprop="telephone" href="tel:+46702638633">+46 70 263 86 33</a>
  </li>

  <li>
    <i class="icon-github"></i><a href="http://github.com/williamhogman">Github</a>
  </li>

  <li>
    <i class="icon-google-plus"></i><a rel="author"
    href="https://plus.google.com/u/0/100430379790375871419">Google Plus</a>
  </li>
</ul>

