<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//api.github.com" />
    <link rel="dns-prefetch" href="//api.tumblr.com" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>William Högman - whn.se programming, statistics and psychology</title>

    <meta name="description" content="My personal webpage with
                                      links to all the stuff I'm up to, like python programming, web
                                      development with html, statistics, psychology and
                                      neuroscience." />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="http://whn.se{{page.url}}" />
    <link rel="author" href="https://plus.google.com/100430379790375871419/" />
          
    <link rel="stylesheet" href="/css/style.css" />
    <link href="http://coderwall.com/stylesheets/jquery.coderwall.css" media="all" rel="stylesheet" type="text/css">
    <script src="/js/libs/modernizr-2.5.3.min.js"></script>
  </head>
  <body {% if page.itemtype %} itemscope
        itemtype="{{page.itemtype}}" {% endif %} >
    {{ content }}
  </body>
</html>
